<template name="attributes_loop">
  {{#if attributesVisible 'attr'}}
  <ul id="attr_loop">
    {{#each attributes}}
      {{> attribute}}
    {{/each}}
  </ul>
  {{> moreAttrItems}}
  {{/if}}
</template>


<template name="attribute">
  <li class="{{#if checked}}checked{{/if}}">
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    <input class="attribute_id" id="aid_{{_id}}" type="hidden" value="{{_id}}" />
    <span class="text" title="{{label_en_US}}">{{title}}</span>
    <span class="search-attr"> <input type="text" name="search_attr" class="searchtext"  id="search_attr"  placeholder="type for a value..." value="{{search_value}}"/> </span>
  </li>
</template>

<template name="moreAttrItems">
  {{#if moreAttrResults}}
  <div id="showMoreAttrResults" style="margin-left: 25px;">
    <span class="loading">Loading...</span>
  </div>
  {{/if}}
</template>
