<head>
  <title>baulist</title>
</head>

<body>
  <div class="container">
    <div class="main">
      <header>
        <div class="site-branding logo-container">
          <h1 class="main-logo">Balusist</h1>
          <div class="login-box">
            {{> loginButtons}}
          </div>
        </div>
        {{> import}}
        {{> searchbox}}
      </header>
      <div class="loops">
      {{> cat_tree}}
      {{> attributes_loop}}
      {{> loop}}
      </div>
    </div>
  </div>
</body>
